@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@fontsource/inter'); 

body {
  font-family: 'Inter', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out; /* Duración y función de temporización de la animación */
}


